extends ../layout.pug

block content
  h1 List of Projects

  a.btn.btn-success(href='/project/new') New Project

  table.table
    thead
      tr
        th Name
    tbody
      each project in projects
        tr
          td
            a(href='/project/#{project.cleanName}')
              = project.name
