extends ../layout.jade

block content
  h1 List of Users

  a.btn.btn-success(href='/user/new') New User

  table.table
    thead
      tr
        th Name
        th Title
    tbody
      each user in users
        tr
          td
            a(href="/user/#{user.cleanName}")
              = user.name
