.inline-form {
  display: inline-block;
  padding: .25em;
}
input[type='text']{
  margin:.25em 0 .5 0;
  font-size: inherit;
  color: inherit;
  padding: .25em;
  border-radius: 3px;
  border: solid 1px #666;
}
input[type='submit']{
  margin:.5em 0;
  font-size: inherit;
}
textarea {
  width: 90%;
  font-size: inherit;
  color: inherit;
  padding: .25em;
  border-radius: 3px;
  border: solid 1px #666;
}
