.landing {
  h2 {
    clear:left;
  }

  .updated-people, .updated-projects {
    @extend .group;
    list-style: none;
    float: none;
    clear: left;
    margin: 0;
    padding: 0;

    li {
      width: 29%;
      float:left;
      background: #efefef;
      margin:1%;
      padding: 1%;
    }

    .btn {
      display: block;
    }
  }
}
